@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar">
    <NavMenu />
    </div> *@

    <main>
        <LoginPanel />

        <div>
            @Body
        </div>
    </main>
</div>
